:root {
    --mobile-width: 375px;
    --max-column-width: 754px;
    --desktop-width: 1440px;

    /* 
        Colors
    */
    /* Primary */
    --color-primary-nutmeg: hsl(14, 45%, 36%);
    --color-primary-dark-raspberry: hsl(332, 51%, 32%);
    /* Neutral */
    --color-neutral-white: hsl(0, 0%, 100%);
    --color-neutral-rose-white: hsl(330, 100%, 98%);
    --color-neutral-eggshell: hsl(30, 54%, 90%);
    --color-neutral-light-grey: hsl(30, 18%, 87%);
    --color-neutral-wenge-brown: hsl(30, 10%, 34%);
    --color-neutral-dark-charcoal: hsl(24, 5%, 18%);

    /* 
        Typography
    */
    /* Body Copy */
    --typography-font-size: 16px;
    /* Fonts */
    --typography-font-name-1: "young_serif";
    --typography-font-name-2: "outfit";
    /* Weights */
    --typography-font-weight-1: 400;
    --typography-font-weight-2: 600;
    --typography-font-weight-3: 700;

    /* List style */
    --list-mark: "•";
    --list-mark-size: 1.25rem;
    --list-mark-weight: var(--typography-font-weight-1);
    --list-mark-color: var(--color-primary-dark-raspberry);
}

body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "young_serif";
    src: url("/static/fonts/young-serif/YoungSerif-Regular.ttf");
}

@font-face {
    font-family: "outfit";
    src: url("/static/fonts/outfit/Outfit-VariableFont_wght.ttf");
}